Repository ojson-platform/models: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --no-warn-ignored, prettier --write, npm run test:units:fast, npm run test:types

.lintstagedrc.json:

{
  "*.ts": [
    "eslint --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "src/**/*.spec.ts": [
    "npm run test:units:fast",
    "npm run test:types"
  ]
}

feat(utils): add has() utility for property and type checking
  .lintstagedrc.json
  src/utils/index.spec.ts
  src/utils/index.ts
  src/with-cache/cache.ts
  src/with-telemetry/utils.ts
  src/with-telemetry/with-telemetry.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write, npm run test:units:fast, npm run test:types

chore(release): remove release-as from release-please config
  .release-please-config.json
Due: none

chore(master): release models 1.1.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(lint): add module import restrictions using no-restricted-imports
  eslint.config.js
Due: none

docs(agents): update AGENTS documentation
  docs/AGENTS/core.md
  docs/AGENTS/dev-infrastructure.md
  docs/AGENTS/helpers-and-architecture.md
  docs/AGENTS/style-and-testing.md
Due: none

docs(agents): add commit message conventions guide
  docs/AGENTS/style-and-testing.md
Due: none

docs(plan): update dev infrastructure plan
  docs/DEV_INFRASTRUCTURE_PLAN.md
Due: none

fix(sonar): address SonarCloud issues
  src/with-cache/cache-strategy.spec.ts
  src/with-cache/cache-strategy.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write, npm run test:units:fast, npm run test:types

fix(sonar): fix all SonarCloud issues
  src/context.ts
  src/utils/index.ts
  src/with-cache/cache-strategy.ts
  src/with-models/types.ts
  src/with-models/with-models.ts
  src/with-telemetry/utils.ts
  src/with-telemetry/with-telemetry.spec.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write, npm run test:units:fast, npm run test:types

test(telemetry): improve coverage for with-telemetry utils
  src/with-telemetry/with-telemetry.spec.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write, npm run test:units:fast, npm run test:types

chore: move remaining tasks to TODO.md and remove DEV_INFRASTRUCTURE_PLAN
  TODO.md
  docs/DEV_INFRASTRUCTURE_PLAN.md
Due: none

chore: remove setup documentation files
  docs/AGENTS/dev-infrastructure.md
  docs/COVERAGE_SETUP.md
  docs/SONARCLOUD_SETUP.md
Due: none

chore: add LICENSE, .editorconfig, and GitHub templates
  .editorconfig
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  LICENSE
  package.json
Due: none

chore: add CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore: remove .env from git tracking
  .env
Due: none

chore(master): release models 1.1.1
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: add SECURITY.md
  SECURITY.md
Due: none

chore: update author field with contact information
  package.json
Due: none

chore: improve package.json metadata
  package.json
Due: none

fix: handle models-v prefix in release tag parsing
  .github/workflows/publish.yml
Due: none

chore: configure release-please to use standard v1.1.1 tag format
  .github/workflows/publish.yml
  .release-please-config.json
Due: none

chore(master): release models 1.1.2
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: Fix publish.yml
  .github/workflows/publish.yml
Due: none

docs: remove duplication in with-models readme
  src/with-models/readme.md
Due: none

feat(cache): add compression support for cache strategies
  src/with-cache/cache-strategy.ts
  src/with-cache/cache.spec.ts
  src/with-cache/cache.ts
  src/with-cache/readme.md
  src/with-cache/types.ts
  src/with-cache/utils.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write, npm run test:units:fast, npm run test:types

docs: add ADR for cache compression and update AGENTS docs
  docs/ADR/0007-cache-compression.md
  docs/AGENTS/helpers-and-architecture.md
Due: none

chore(master): release models 1.2.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

docs(agents): add agent documentation for diplodoc metapackage and lint package
  bootstrap/.editorconfig
  bootstrap/.github/ISSUE_TEMPLATE/bug_report.md
  bootstrap/.github/ISSUE_TEMPLATE/feature_request.md
  bootstrap/.github/dependabot.yml
  bootstrap/.github/pull_request_template.md
  bootstrap/.github/workflows/lint.yml
  bootstrap/.github/workflows/publish.yml
  bootstrap/.github/workflows/release-please.yml
  bootstrap/.github/workflows/security.yml
  bootstrap/.github/workflows/sonarcloud.yml
  bootstrap/.github/workflows/test.yml
  bootstrap/.gitignore
  bootstrap/.husky/pre-commit
  bootstrap/.lintstagedrc.json
  bootstrap/.prettierrc.json
  bootstrap/.release-please-config.json
  bootstrap/.release-please-manifest.json
  bootstrap/AGENTS.md
  bootstrap/CONTRIBUTING.md
  bootstrap/LICENSE
  bootstrap/README.md
  bootstrap/SECURITY.md
  bootstrap/docs/AGENTS/architecture.md
  bootstrap/docs/AGENTS/core.md
  bootstrap/docs/AGENTS/dev-infrastructure.md
  bootstrap/docs/AGENTS/style-and-testing.md
  bootstrap/eslint.config.js
  bootstrap/package.json
  bootstrap/scripts/extensions.js
  bootstrap/sonar-project.properties
  bootstrap/tsconfig.json
  bootstrap/tsconfig.types.json
  bootstrap/vitest.config.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

docs: steer DeepWiki generation
  .devin/wiki.json
  docs/ADR/0008-architecture-principles.md
  docs/deepwiki-improvements.md
Due: none

docs: add DeepWiki badge
  README.md
Due: none

feat(validation): add withValidation module
  .gitignore
  docs/ADR/0009-ajv-optional-dependency-for-validation.md
  examples/todo-api/src/middleware/context.ts
  examples/todo-api/src/model-utils.ts
  examples/todo-api/src/models/create-todo.ts
  examples/todo-api/src/models/delete-todo.ts
  examples/todo-api/src/models/get-all-todos.ts
  examples/todo-api/src/models/get-todo.ts
  examples/todo-api/src/models/update-todo.ts
  examples/todo-api/src/server.ts
  package.json
  src/index.ts
  src/types.spec.ts
  src/with-validation/index.ts
  src/with-validation/readme.md
  src/with-validation/types.ts
  src/with-validation/utils.ts
  src/with-validation/with-validation.spec.ts
  src/with-validation/with-validation.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write, npm run test:units:fast, npm run test:types

refactor(validation): unify events and simplify validator config
  src/with-validation/readme.md
  src/with-validation/types.ts
  src/with-validation/utils.ts
  src/with-validation/with-validation.spec.ts
  src/with-validation/with-validation.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write, npm run test:units:fast, npm run test:types

refactor(validation): align strict=false with warnings-only
  src/with-validation/readme.md
  src/with-validation/with-validation.spec.ts
  src/with-validation/with-validation.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write, npm run test:units:fast, npm run test:types

chore(infra): migrate to @ojson/infra
  .agents/core.md
  .agents/dev-infrastructure.md
  .infra.json
  .prettierrc.json
  AGENTS.md
  eslint.config.js
  package.json
  prettier.config.js
  scripts/extensions.js
  src/__tests__/vitest-shim.d.ts
  tsconfig.json
  tsconfig.types.json
  vitest.config.mjs
  vitest.config.ts
Due: eslint --max-warnings=0 --no-warn-ignored, prettier --write

chore: switch the toolchain from npm to pnpm
  .github/workflows/examples.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/test.yml
  .gitignore
  bootstrap/docs/AGENTS/dev-infrastructure.md
  docs/AGENTS/dev-infrastructure.md
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: none

chore: keep the local Sandcastle setup out of git
  .gitignore
Due: none
